:root{
   --violet:#445164;
   --blue:#333d4a;
   --white:#e6e6e6;
   --white1:#FFF;
   --black:#000;
   --purple:#017bfe;
   --grey:#c8c8c9;
   --skyblue:#017bfe;
   --lightblue:#e5f2ff;
   --lightgrey:#f5f6fa;
   --darkgrey:#8d8d8d;
   --white3:#fafafd;
}




html{
  font-size: 100%;
}
.container-explorer{
  width: 80%;
  display: block;
  margin: 0 auto;
}
.section-margin{
  /* margin: 3rem auto; */
  /* padding: 2rem 0rem; */
}


/* /////////////media-query//////////////////////// */
@media screen and (min-width:1600px) {
  html{
    font-size: 100% ;
  }
}
@media screen and (max-width:1600px) {
.container-explorer{
  width: 95%;
  display: block;
  margin: 0 auto;
}

}

@media screen and (max-width:1200px) {
  html{
    font-size: 90%;
  }
  .container-explorer{
    width: 85%;
    display: block;
    margin: 0 auto;
  }
}
@media screen and (max-width:1050px) {
  html{
    font-size: 85%;
  }
  .container-explorer{
    width: 85%;
    display: block;
    margin: 0 auto;
  }
}
@media screen and (max-width:900px) {
  html{
    font-size: 80%;
  }
  .container-explorer{
    width: 90%;
    display: block;
    margin: 0 auto;
  }
}
@media screen and (max-width:750px) {
  html{
    font-size: 80%;
  }
  .container-explorer{
    width: 90%;
    display: block;
    margin: 0 auto;
  }
}
@media screen and (max-width:600px) {
  html{
    font-size: 80%;
  }
  .container-explorer{
    width: 95%;
    display: block;
    margin: 0 auto;
  }
}